In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [37]:
final = pd.DataFrame()

for j in range(1,11):   # Only we are fetching data for first 10 pages for practice purpose....

  url = 'https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page={}'.format(j)

  headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
  webpage = requests.get(url,headers=headers).text

  soup = BeautifulSoup(webpage, 'lxml')

  company = soup.find_all('div', class_='company-content-wrapper')

  name = []
  rating = []
  reviews = []
  ctype = []
  hq = []
  old = []
  employees = []

  for i in company:

    name.append(i.find('h2').text.strip())
    rating.append(i.find('p', class_='rating').text.strip())
    reviews.append(i.find('a', class_='review-count').text.strip())
    ctype.append(i.find_all('p', class_='infoEntity')[0].text.strip())
    hq.append(i.find_all('p', class_='infoEntity')[0].text.strip())
    old.append(i.find_all('p', class_='infoEntity')[0].text.strip())
    employees.append(i.find_all('p', class_='infoEntity')[0].text.strip())

d = {'name':name, 'rating':rating, 'reviews':reviews, 'type':ctype, 'hq':hq, 'old':old, 'employees':employees}

df = pd.DataFrame(d)

final = final.append(df, ignore_index=True)

In [39]:
final

,name,rating,reviews,type,hq,old,employees
0,Nestle,4.1,(1.6k Reviews),Public,Public,Public,Public
1,Max Healthcare,4.1,(1.6k Reviews),Partnership,Partnership,Partnership,Partnership
2,Lifestyle,4.4,(1.7k Reviews),Private,Private,Private,Private
3,JMC Projects,4.2,(1.5k Reviews),Public,Public,Public,Public
4,Mankind Pharma,4.2,(1.7k Reviews),Private,Private,Private,Private
5,Legato Health Te...,4.1,(1.5k Reviews),LLP,LLP,LLP,LLP
6,Statestreet HCL ...,3.4,(1.5k Reviews),Private,Private,Private,Private
7,I Process Servic...,4.0,(1.5k Reviews),Private,Private,Private,Private
8,Zensar Technolog...,3.9,(1.5k Reviews),Public,Public,Public,Public
9,Birlasoft,3.8,(1.5k Reviews),Public,Public,Public,Public
10,Voltas,4.1,(1.5k Reviews),Public,Public,Public,Public
11,G4S,4.1,(1.5k Reviews),Private,Private,Private,Private
12,Pfizer,4.2,(4.7k Reviews),Public,Public,Public,Public
13,Fiserv,3.9,(1.5k Reviews),Private,Private,Private,Private
14,Birla Sun Life I...,4.3,(1.4k Reviews),Private,Private,Private,Private
15,HCL Infosystems,3.9,(1.4k Reviews),Public,Public,Public,Public
16,Life Insurance C...,4.3,(1.4k Reviews),Private,Private,Private,Private
17,AGS Health,4.1,(1.4k Reviews),Private,Private,Private,Private
18,Walmart,4.2,(12.8k Reviews),Private,Private,Private,Private
19,United Phosphoru...,4.3,(1.4k Reviews),Public,Public,Public,Public
20,Aditya Birla Gro...,4.2,(15.6k Reviews),"Mumbai,Maharashtra + 196 more","Mumbai,Maharashtra + 196 more","Mumbai,Maharashtra + 196 more","Mumbai,Maharashtra + 196 more"
21,Lenskart,3.1,(1.4k Reviews),Private,Private,Private,Private
22,Delhi Public Sch...,3.9,(1.4k Reviews),Public,Public,Public,Public
23,HDFC Sales,4.0,(1.4k Reviews),Private,Private,Private,Private
24,ACT Fibernet,4.1,(1.4k Reviews),Private,Private,Private,Private
25,Micro Labs,3.8,(1.4k Reviews),Private,Private,Private,Private
26,Samsung Electron...,4.2,(1.4k Reviews),Noida + 171 more,Noida + 171 more,Noida + 171 more,Noida + 171 more
27,Tata Technologie...,3.6,(1.4k Reviews),Private,Private,Private,Private
28,TVS Supply Chain...,4.0,(1.5k Reviews),"Chennai,Tamil Nadu + 111 more","Chennai,Tamil Nadu + 111 more","Chennai,Tamil Nadu + 111 more","Chennai,Tamil Nadu + 111 more"
29,Extramarks Educa...,3.8,(1.4k Reviews),Private,Private,Private,Private